@import 'themes.css';

body {
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    margin: 10px;
}

h1 {
    text-shadow: var(--body-shadow-color) 1px 1px;
    font-style: oblique;
    text-align: center;
}

h3,
.divRules {
    text-align: left;
}

.divRules {
    margin: 0;
    border: 0;
    padding: 0;
}

.pRules {
    font-family: 'Courier New';
    font-size: 12px;
    font-weight: 550;
    margin: 0 0 5px;
    border: 0;
    padding: 0;
}

body,
.division,
.roundTable,
.rules {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}

body,
#errorPointsCheckboxes,
#themeChanged,
.btn {
    font-family: 'Lucida Sans';
}

h1,
th,
#errorPointsCheckboxes,
#themeChanged,
.btn {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: var(--table-even-background-color);
}

tr:nth-child(odd) {
    background-color: var(--table-odd-background-color);
}

td,
th {
    border: 1px solid;
    border-color: var(--table-border-color);
    text-align: center;
}

th {
    padding: 3px;
}

td {
    padding: 8px;
}

.division {
    background-color: var(--division-background-color);
    margin: 20px 100px;
    padding: 30px;
    border-radius: 25px;
}

.form-control {
    padding: 5px 15px;
    border-radius: 3px;
}

.form-points {
    margin: 0;
    background-color: var(--addptn-input-background-color);
    border-color: var(--addptn-input-border-color);
    color: var(--addptn-input-text-color);
    width: 50px;
    text-align: center;
}

.form-player {
    background-color: var(--addplr-input-background-color);
    border-color: var(--addplr-input-border-color);
    color: var(--addplr-input-text-color);
}

#errorPointsCheckboxes,
#themeChanged,
.addpointsbtn,
.themebtn {
    justify-self: right;
}

#errorPointsCheckboxes,
#themeChanged {
    margin: 2px 0 2px;
}

#errorPointsCheckboxes {
    color: var(--error-span-text-color);
}

#sp {
    display: grid;
    grid-template-columns: 85% 15%;
}

.btn {
    font-size: 12px;
    text-align: center;
    padding: 5px 15px;
    border-radius: 3px;
    border-width: 1px;
}

.deletebtn {
    background-color: var(--delete-button-background-color);
    border-color: var(--delete-button-border-color);
    color: var(--delete-button-text-color);
    border: 0;
    padding: 5px;
}

.addpointsbtn {
    background-color: var(--addplr-button-background-color);
    border-color: var(--addplr-button-border-color);
    color: var(--addplr-button-text-color);
    width: fit-content;
}

h3,
.form-player,
.addplayerbtn,
.infobtn {
    margin: 0 0 10px;
}

.addplayerbtn,
.infobtn {
    margin: 0 0 10px;
    background-color: var(--addplr-button-background-color);
    border-color: var(--addplr-button-border-color);
    color: var(--addplr-button-text-color);
}

.themebtn {
    background-color: var(--theme-button-background-color);
    border-color: var(--theme-button-border-color);
    color: var(--theme-button-text-color);
    font-size: 9px;
    padding: 5px;
}