<p></p>
<div class="divRules">
    <h3>Information:</h3>
    <p ng-repeat="line in rulesEN.intro" class="pRules">{{line}}</p>
</div>
<p></p>
<div class="divRules">
    <h3>Original rules of the Bicas:</h3>
    <p ng-repeat="line in rulesEN.rules" class="pRules">{{line}}</p>
</div>
<p></p>
<div id="sp" class="divRules">
    <div class="divRules" style="padding-right: 10px;">
        <h3>Special cards:</h3>
        <p ng-repeat="line in rulesEN.special" class="pRules">{{line}}</p>
    </div>
    <div class="divRules">
        <h3>Points:</h3>
        <p ng-repeat="line in rulesEN.points" class="pRules">{{line}}</p>
    </div>
</div>